html {
}
body,html{
    left:0;
    margin:0;
    padding:0;
    background-color: hsl(216, 28%, 7%);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.inner-row{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width:2px;
    padding:20px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 5px;

}

.sidebar{
    border-radius: 10px;
    margin-bottom:10px;
    justify-content: center;
    text-align: center;
}

.sidebar-pic{

    transition-duration: 0s;
    margin-bottom: 10px;
    max-width: 220px;
    transform : scale(1);
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 2px;


}

.sidebar-items{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.post{
    display: flex;
    margin-top:20px;
    margin-right:20px;
}

.post-image{
    max-width: 150px;
    max-height: 150px;
    margin-right:10px;
    border-radius: 10px;
    margin-right: 20px;
}

.post-contents{
    display:flex;
    flex-direction: column;
    margin-left:10px;
}

.post-tags{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin: 10px 0;
    align-items: center;
    
}


 .pagination{
    justify-content: center;
    text-align: center;
}


.explore{
    display: flex;
    flex-direction: column;   
    border-style: solid;
    border-width:2px;
    padding:10px;
    border-radius: 5px;
    gap:10px;
}

.md {
    padding:10px;
    border-style: solid;
    border-width: 2px;
    border-color:white;
    border-radius: 5px;
    max-width:100%;
    min-width:calc(100% - 400px);

}


.icon {
    filter: invert(100%);
}

.mainicon{
    filter: invert(31%) sepia(91%) saturate(2926%) hue-rotate(295deg) brightness(98%) contrast(87%);
}

.footer{
    text-align: center;
    justify-content: center;
    justify-items: center;
    bottom:0;
    position: fixed;
    width: 100%;
    z-index: 10;
    left:0;
    margin:0;
}

.br{
    height:70px;
}


.main-row{
    margin: 5px;
    min-height:100vh;
    max-width: calc(100%-400px);
}

pre{
    padding:10px;
    border-radius: 10px;
}

.title{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.single-header{
    display: flex;
    flex-direction: column;
    margin-right:10px;
}

.single-tags{

}

.single-image{
    width: 100%;
    height: 100%;
    max-width:200px;
    max-height:200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.single-details{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
}

.tab{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
    width:100%;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 5px;
    border-style: solid;
    
}


@media only screen and (max-width: 1200px) {

    .main-row {
        display: flex;
        flex-direction: column;
    }


    .post-image{
        max-width: 100px;
        max-height: 100px;
        border-radius: 10px;
        margin:10px;
    }

    .single-header{
        flex-direction: column;
    }

    .single-details{
        margin:0;
        margin-bottom:10px;
        
    }

    .post{
        flex-direction: column;
    }


  }

@media only screen and (min-width: 1200px) {
    .main-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Ensure even spacing */
        box-sizing: border-box;
    }

    .main-row{
        padding-right:10px;
    }

    .sidebar{
        width:100%;
        max-width: 500px;
    }

    .sidebar{
        margin-right:10px;
        margin-bottom:0;
    }

  }


/* Style the navbar */
#navbar {
    position: fixed;
    top: 0;
    width:100%;
    z-index: 2;
    overflow: hidden;
    background-color: #333;
  }