<a href="/">
  <img
    class="sidebar-pic"
    src="https://avatars.githubusercontent.com/u/105599773?v=4"
    alt="ad"
  />
</a>
<h2>Skye Waddell</h2>
<h5>Fullstack Developer & Creative Artist</h5>
<h6 class="text-muted">
  <img src="/images/favbubble.gif" class="gifico" /> @skyelynwaddell • they/them
</h6>

<div class="sidebar-items">
  <a class="btn btn-outline-primary" href="https://github.com/skyelynwaddell">
    <img src="/svg/github.svg" class="icon" /> Github</a
  >
  <a
    class="btn btn-outline-primary"
    href="https://www.linkedin.com/in/skyelynwaddell/"
  >
    <img src="/svg/linkedin.svg" class="icon" /> LinkedIn</a
  >

  <div class="explore">
    {{/* Navigation */}} {{ partial "retrobar" "Navigation" }}
    <a class="btn btn-outline-primary" href="/">
      <img src="/images/arrow.gif" class="gifico" /> Home</a
    >
    <a class="btn btn-outline-primary" href="/authors/skye-waddell/">
      <img src="/images/arrow.gif" class="gifico" /> Blog</a
    >
    <a class="btn btn-outline-primary" href="/categories">
      <img src="/images/arrow.gif" class="gifico" /> Categories</a
    >
    <a class="btn btn-outline-primary" href="/authors">
      <img src="/images/arrow.gif" class="gifico" /> Authors</a
    >

    {{/* Creations */}} {{ partial "retrobar" "Creations" }}
    <a class="btn btn-outline-primary" href="https://skyestuff.itch.io/">
      <img src="/images/arrow.gif" class="gifico" /> Games</a
    >
    <a
      class="btn btn-outline-primary"
      href="https://www.deviantart.com/ver2ion"
    >
      <img src="/images/arrow.gif" class="gifico" /> Art</a
    >
    <a class="btn btn-outline-primary" href="https://soundcloud.com/ver2ion">
      <img src="/images/arrow.gif" class="gifico" /> Music</a
    >
    <a
      class="btn btn-outline-primary"
      href="https://www.youtube.com/@banish4cost"
    >
      <img src="/images/arrow.gif" class="gifico" /> Videos</a
    >
  </div>

  <div class="box">
    <label for="theme">Theme:</label>
    <select name="theme" id="theme" onchange="changeTheme(this.value)">
      <option value="">🌸 Cute Pink</option>
      <option value="blue">💙 Skye Blue</option>
      <option value="mint">🟢 Mint Green</option>
      <option value="lavender">🪻 Lavender Purple</option>
      <option value="peach">🍑 Chill Peach</option>
    </select>
  </div>

  <div id="statuscafe">
    <div id="statuscafe-username"></div>
    <div id="statuscafe-content"></div>
  </div>
  <script
    src="https://status.cafe/current-status.js?name=skye97"
    defer
  ></script>

  <div class="guestbook">
    <iframe class="guestbook-iframe" src="https://skye97.atabook.org/"></iframe>
  </div>

  <div class="box">
    <div class="scroll">
      <div class="scroll-track">
        <img
          src="https://blob.gifcities.org/gifcities/BXQMF6ITLYC6HGBXUWYVITM2EMQHNAHS.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/P6FSCFGYFZR4EZOUMHWZQCGY3CB3OKB4.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/45OWWL5MQXVJLL72BBJJCJ4NSQOWVCYQ.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/4MPTHTB4TZAQZQARBAI3Z4PTTOHO5726.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/HXLF22T7JKTSG5RI4LZIYUFCKZKE4QSF.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/UEHPCFY63FE5IW2KVYVO6YCYY4GE42AS.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/QDF7YQ5GSRH36XIW77DOEVKP7KX4WJRH.gif"
          class="giffy"
        />

        <img
          src="https://blob.gifcities.org/gifcities/BXQMF6ITLYC6HGBXUWYVITM2EMQHNAHS.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/P6FSCFGYFZR4EZOUMHWZQCGY3CB3OKB4.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/45OWWL5MQXVJLL72BBJJCJ4NSQOWVCYQ.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/4MPTHTB4TZAQZQARBAI3Z4PTTOHO5726.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/HXLF22T7JKTSG5RI4LZIYUFCKZKE4QSF.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/UEHPCFY63FE5IW2KVYVO6YCYY4GE42AS.gif"
          class="giffy"
        />
        <img
          src="https://blob.gifcities.org/gifcities/QDF7YQ5GSRH36XIW77DOEVKP7KX4WJRH.gif"
          class="giffy"
        />
      </div>
    </div>
  </div>
</div>

<script>
  const STORAGE_KEY = 'theme'

  function changeTheme(theme) {
    localStorage.setItem(STORAGE_KEY, theme)
    document.body.className = theme ? `theme-${theme}` : ''
  }

  document.addEventListener('DOMContentLoaded', () => {
    const savedTheme = localStorage.getItem(STORAGE_KEY)
    document.body.className = savedTheme ? `theme-${savedTheme}` : ''
    document.getElementById('theme').value = savedTheme || ''
  })
</script>
