{{/* Check if this is the homepage or the first page of pagination */}}
<div class="box video">
  <div class="youtubeflex">
    <h1>Latest YouTube Video:</h1>
    <a
      href="https://www.youtube.com/@banish4cost?sub_confirmation=1"
      class="subscribe"
    >
      Subscribe
    </a>
  </div>
  <iframe
    class="iframe-video"
    src="https://www.youtube.com/embed/P4Wnw_V6eL8?si=VifFcFdGJ6i0qn7M"
    title="YouTube video player"
    frameborder="0"
    allow="
      accelerometer;
      autoplay;
      clipboard-write;
      encrypted-media;
      gyroscope;
      picture-in-picture;
      web-share;
    "
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>

{{ if and (eq .Path "/") (not .Paginator.HasPrev) }}
<div class="md" id="github-readme"></div>

<script>
  async function loadMarkdown() {
    const url =
      'https://raw.githubusercontent.com/skyelynwaddell/skyelynwaddell/main/README.md'
    const response = await fetch(url)
    const text = await response.text()

    const html = marked(text)
    document.getElementById('github-readme').innerHTML = html
  }

  loadMarkdown()
</script>
{{ end }}
