<script>
  const news = `Welcome to Skyesblog! 😊 This is my digital portfolio and creative playground—a space where I explore and share all kinds of digital work. I love making things, whether that’s programming, creating art, producing videos, crafting beats, or experimenting with new ideas. Thanks for stopping by, and I hope you enjoy exploring my work as much as I enjoy creating it!`

  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('marquee').innerHTML = `• ${news}`
  })
</script>

<div class="box newsbar">
  <h4 class="newsbar-title">Welcome</h4>
  <div class="newsbar-marquee-container">
    {{/* whoever deprecated this sucks and im still going to use it 🖕*/}}
    <marquee id="marquee" class="newsbar-marquee"></marquee>
  </div>
</div>
