<script>
  const news = `Welcome to Skyesblog! 😊 This is my digital portfolio and my web-playground. I enjoy creating digital content of all types, whether that is through programming, doing art, creating videos, producing beats, and many others ways. I hope you enjoy my all of my work, MAKING things is what I live for!`

  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('marquee').innerHTML = `• ${news}`
  })
</script>

<div class="box newsbar">
  <h4 class="newsbar-title">Welcome</h4>
  <div class="newsbar-marquee-container">
    {{/* whoever deprecated this sucks and im still going to use it 🖕*/}}
    <marquee id="marquee" class="newsbar-marquee"></marquee>
  </div>
</div>
